.cus-cart {
    display: flex;
    flex-direction: column;
    padding: 25px 28px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #f3f3f3;
}


.cus-cart .frameProf {
    display: flex;
    /* padding: 25px 28px; */
    /* margin-left: 1rem;
    margin-right: 1rem; */
    border-radius: 1rem;
    /* margin-bottom: 2rem; */
    background-color: #f3f3f3;
    align-items: center;
}

.cus-cart .frameProf .profImg{
    width: 75.25px;
    height: 75.25px;
    padding: 1rem;
}

.cus-cart .frameProf .profText{
    color: #000;
    text-align: justify;
    font-size: 24px;
    font-weight: 600;
    line-height: 117.9%; /* 28.296px */
    width: 1227px;
    height: 29px;
}


.cus-cart .div-5 {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.cus-cart .div-wrapper-2 {
    display: flex;
    width: 800px;
    height: 44px;
    padding: 4px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
}

.cus-cart .sec3-booking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cus-cart .upperMyBook{
    display: flex;
    justify-content: space-between;
}

.cus-cart .small-button {
    border-color: #bcab86;
    border-radius: 7.895px;
    padding: 0.5rem;
}

.cus-cart .small-button:hover {
    background-color: #4C5039;
    color: #f3f3f3;
}