* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$header1: 4rem;
$header2: 2.5rem;
$header3: 2.0rem;
$header4: 1.5rem;

$text: 2.0rem;
$small-text: 1.5rem;

// $bg-color: #4C5039;
// $bg-color-darker: #1a3842b9;
// $half-opacity-bg-color: #27586880;

// $line-color: #1a3d4971;

// $gray-text: #060e11;
// $white-text: #fcecee;
// $shaded-grey-text: #31393b;
// $sidebar-bg-color: #275868;
// $sidebar-bg-header-color: #383e41;
// $shaded-white: #efefef;

// $loader-dark-color: #3498db;
// $loader-light-color: #f3f3f3;

// $loader-color: #275868;

// $primary-blue-color: $sidebar-bg-color;
// $danger-color: #ed5e68;

// $info-color: #0dcaf0;


// $bg-color: #7DA07D; // A soft, natural green
// $bg-color-darker: rgba(#558B6E, 0.725); // A darker, earthy green with original opacity
// $half-opacity-bg-color: rgba(#9DBF9E, 0.5); // Lighter green with original opacity

// $line-color: rgba(#3D6657, 0.443); // Dark green with a hint of transparency

// $gray-text: #4A504B; // Neutral grey, fitting the natural theme
// $white-text: #FFFFFF; // Crisp white for contrast
// $shaded-grey-text: #6E736F; // Warmer grey, complementing the earthy tones
// $sidebar-bg-color: #558B6E; // Rich, leafy green
// $sidebar-bg-header-color: #3D6657; // Deeper green, reminiscent of dense foliage
// $shaded-white: #F0F0F0; // Soft off-white, maintaining neutrality

// $loader-dark-color: #6D9078; // Muted green
// $loader-light-color: #BFD1C1; // Light pastel green
// $loader-color: #558B6E; // Green that matches the sidebar-bg-color

// $primary-blue-color: $sidebar-bg-color; // Use the updated sidebar-bg-color
// $danger-color: #A25656; // Earthy red, like autumn leaves
// $info-color: #7DA07D; // Soft green, soothing and natural




$color-primary:#157E38;
$color-dark:#044E29;
$color-darker:#00241A;

$color-light:#45BF55;
$color-lighter:#95ED87;

$color-lightest:#D6F5D9;
$color-lightest2:#F0FFF0;


$color-white: #F4F4F4;

// text colors
$gray-text: #3C3F3C; 
$white-text: #FFFFFF;
$black-text: #000000;




$bg-color:$color-primary;

// $bg-color: #567356; // A darker, richer green
$bg-color-darker: rgba(#3C5A4A, 0.725); // Even darker green, maintaining the opacity
$half-opacity-bg-color: rgba(#6B9173, 0.5); // Medium green with original opacity

$line-color: rgba(#294A38, 0.443); // Very dark green with a hint of transparency

 // Crisp white for contrast
$shaded-grey-text: #535956; // Darker grey, complementing the richer tones
$sidebar-bg-color: #3C5A4A; // Deep, lush green
$sidebar-bg-header-color: #294A38; // Very dark green, evoking dense forest
$shaded-white: #E0E0E0; // Slightly darker off-white, for better contrast

$loader-dark-color: #4F6D5B; // Deep and muted green
$loader-light-color: #A8C1B0; // Dark pastel green
$loader-color: #3C5A4A; // Green matching the sidebar-bg-color

$primary-blue-color: $sidebar-bg-color; // Use the updated sidebar-bg-color
$danger-color: #8F4548; // Dark, rich red, reminiscent of berries in the forest
// danger lightest
$danger-lightest-color: #F0D9D9;
$info-color: #567356; // Dark, vibrant green
// yello warning
$warning-color: #FFC107;

$breakpoint-sm: 576px; // Small devices (landscape phones, 576px and up)
$breakpoint-md: 768px; // Medium devices (tablets, 768px and up)
$breakpoint-lg: 992px;

$body-font:"Poppins", sans-serif;
$normal-font-size: .938rem;

// Responsive typography
@media screen and (min-width: 1024px){
  $normal-font-size: 1rem;
}

$font-regular: 400;
$font-semi-bold: 600;

$z-tooltip: 10;
$z-fixed: 100;

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;

  
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  white-space: nowrap;
}

h1 {
  font-size: $header1;
}

p {
  font-size: $text;
}

// button,
// input,
// a,
// li,
// td,
// h4,
// textarea {
//   font-size: $text;
// }

li {
  font-size: $text;
}

thead,
label,
tbody,
tfoot {
  font-size: $header3;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}

ul,
table {
  list-style: none;
}

// input[type="text"],
// input[type="password"],
// input[type="number"],
// textarea {
//   padding: 1.5rem 1rem;
//   border: none;
//   border-radius: 12px;
//   background-color: $shaded-white;
//   font-size: $header4;
//   font-family: "Poppins", sans-serif;

//   &:focus {
//     outline: none;
//   }

//   &::placeholder {
//     color: $shaded-grey-text;
//   }
// }

select {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 12px;
  background-color: $shaded-white;
  font-size: $header4;
  font-family: "Poppins", sans-serif;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $shaded-grey-text;
  }
}

thead th {
  border-bottom: 1px solid $line-color;
}

.tbody-border-bottom {
  border-bottom: 1px solid $line-color;
}

tfoot th {
  font-weight: 200;
}

// select {
//   background: none;
//   border: 2px solid $bg-color;
//   border-radius: 1rem;
//   margin: 0.5rem;
//   padding: 1rem 1.5rem;
// }

hr {
  opacity: 0.5;
}


@mixin field-set-grid($row, $column) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  grid-template-rows: repeat($row, 1fr);
  gap: 1rem;
  align-content: center;
  padding: 0 1rem;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-edit-color {
  color: $primary-blue-color;
}

.action-delete-color {
  color: $danger-color;
}

.action-view-color {
  color: $info-color;
}

body {
  scroll-behavior: smooth !important;
  background-color: $color-lightest;

}
