* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  color: #526534;
}

h4 {
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: 400;
  color: #526534;
  text-align: center;
}

h5 {
  font-weight: 400;
  white-space: nowrap;
}

p {
  font-size: 1.56rem;
  color: #5C5E60;
}

li {
  font-size: 1.56rem;
}

thead,
label,
tbody,
tfoot {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6B6E70;
}

ul,
table {
  list-style: none;
}

select {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 12px;
  background-color: #E0E0E0;
  font-family: "Poppins", sans-serif;
}

select:focus {
  outline: none;
}

select::placeholder {
  color: #535956;
}

thead th {
  border-bottom: 1px solid rgba(41, 74, 56, 0.443);
}

.tbody-border-bottom {
  border-bottom: 1px solid rgba(41, 74, 56, 0.443);
}

tfoot th {
  font-weight: 200;
}

hr {
  opacity: 0.5;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-edit-color {
  color: #3C5A4A;
}

.action-delete-color {
  color: #8F4548;
}

.action-view-color {
  color: #567356;
}

body {
  scroll-behavior: smooth !important;
  background-color: #EBEFE3;
}
