.justify-content-between {
  justify-content: space-between;
  padding: 10px;
}


.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}


// align

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}



// mobile

@media (max-width: $breakpoint-sm) {
    .justify-content-sm-center {
        justify-content: center !important;
    }

    .justify-content-sm-end {
        justify-content: flex-end !important;
    }


    .left-sm-10{
        position: relative;
        left: 10%;
    }



}


@media (max-width: $breakpoint-md) {
    .justify-content-md-center {
        justify-content: center !important;
    }

    .justify-content-md-end {
        justify-content: flex-end !important;
    }

    .left-md-10{
        position: relative;
        left: 10%;
    }

}



// align self

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}




// text align

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}