
.flex-d {
    display: flex;
  }
  
.flex-d-c{
    display: flex;
    flex-direction: column;
}

.flex-d-r{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: $breakpoint-md) {
    .flex-md-c {
        flex-direction: column;
    }
    
}

@media screen and (max-width: $breakpoint-sm) {
    .flex-sm-c {
        flex-direction: column;
    }
    
}
  