.h-100 {
    height: 100% !important;
}

.h-75 {
    height: 75% !important;
}

.h-50 {
    height: 50% !important;
}

.h-25 {
    height: 25% !important;
}


// max height

.mh-100 {
    max-height: 100% !important;
}

.mh-75 {
    max-height: 75% !important;
}

.mh-50 {
    max-height: 50% !important;
}

.mh-25 {
    max-height: 25% !important;
}

// min height

.mih-100 {
    min-height: 100% !important;
}

.mih-75 {
    min-height: 75% !important;
}

.mih-50 {
    min-height: 50% !important;
}

.mih-25 {
    min-height: 25% !important;
}


//  hard coded height

.h-200px {
    height: 200px !important;
}

.h-100px {
    height: 100px !important;
}

.h-75px {
    height: 75px !important;
}

.h-50px {
    height: 50px !important;
}

.h-25px {
    height: 25px !important;
}

// max height

.mh-400px {
    max-height: 400px !important;
}

.mh-200px {
    max-height: 200px !important;
}

.mh-100px {
    max-height: 100px !important;
}

.mh-75px {
    max-height: 75px !important;
}

.mh-50px {
    max-height: 50px !important;
}

.mh-25px {
    max-height: 25px !important;
}

// min height

.mih-400px {
    min-height: 400px !important;
}

.mih-100px {
    min-height: 100px !important;
}

.mih-75px {
    min-height: 75px !important;
}

.mih-50px {
    min-height: 50px !important;
}

.mih-25px {
    min-height: 25px !important;
}


