@media screen and (max-width: 340px){
   .nav__container{
      margin-inline: 1rem;
   }

   .nav__link{
      padding-inline: 1rem;
   }
}

@media screen and (min-width: 1118px){
   .nav{
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;

      &__container{
         margin-inline: auto;
      }
      &__toggle{
         display: none;
      }
      &__list{
         height: 7rem;
         display: flex;
         column-gap: 3rem;
         align-items: center;
      }
      &__link{
         height: 100%;
         padding: 0;
         justify-content: initial;
         column-gap: 1rem;

         &:hover{
            background-color: transparent;
         }
      }
      &__logo{
         width: 150%;
      }
   }

   .dropdown{
      &__item,
      &__subitem{
         position: relative;
      }
      &__menu,
      &__submenu{
         max-height: initial;
         overflow: initial;
         position: absolute;
         left: 0;
         top: 6rem;
         opacity: 0;
         pointer-events: none;
         transition: opacity .3s, top .3s;

         &:hover &__submenu {
            opacity: 1;
            top: 6rem;
            pointer-events: auto;
            transition-delay: 1000; /* Reset transition-delay on hover */
        }
      }
      &__link,
      &__sublink{
         padding-inline: 1rem 3.5rem;
      }
      &__subitem &__link{
         padding-inline: 1rem ;
      }
      &__submenu{
         position: absolute;
         left: 100%;
         top: .5rem;
      }
      &__item:hover &__menu{
         opacity: 1;
         top: 5.5rem;
         pointer-events: initial;
         transition: top .3s;
      }
      &__subitem:hover > &__submenu{
         opacity: 1;
         top: 0;
         pointer-events: initial;
         transition: top .3s;
      }
   }
}

// Responsive typography
@media screen and (min-width: 1024px){
   $normal-font-size: 1rem;
 }