.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: $color-lightest2;
   box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
   z-index: $z-fixed;
 }
 
 .nav {
   height: $header1;
   &__logo,
   &__burger,
   &__close {
     color: $color-dark;
   }
 
   &__data {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
  //  &__logo {
  //   display: block;
  //   width: 80%;
  //   max-width: 500px;
 
  //    & i {
  //      font-weight: initial;
  //      font-size: 1.25rem;
  //    }
  //  }
   &__logo-pic{
      //  width: 80%;
       max-width: 200px;
   }
   &__toggle {
     position: relative;
     width: 32px;
     height: 32px;
   }
   &__burger,
   &__close {
     position: absolute;
     width: max-content;
     height: max-content;
     inset: 0;
     margin: auto;
     font-size: 1.25rem;
     cursor: pointer;
     transition: opacity 0.1s, transform 0.4s;
   }
   &__close {
     opacity: 0;
   }
 
   @media screen and (max-width: 1118px) {
     &__menu {
       position: absolute;
       left: 0;
       top: 2.5rem;
       width: 100%;
       height: calc(100vh - 3.5rem);
       overflow: auto;
       pointer-events: none;
       opacity: 0;
       transition: top 0.4s, opacity 0.3s;
 
       &::-webkit-scrollbar {
         width: 0;
       }
     }
     &__list {
       background-color: $color-lightest;
       padding-top: 1rem;
     }
   }
   &__link {
     color: $color-dark;
    //  background-color: $color-lightest;
     font-weight: $font-semi-bold;
     padding: 1.25rem 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: background-color 0.3s;
 
     &:hover {
       background-color: $color-lighter;
     }
   }
 
   &__profile-avatar {
     position: relative;
     display: inline-block;
     margin-right: 20px;
     height: 7rem;
 
     & img {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       cursor: pointer;
     }
   }
 
   &__container {
     max-width: 1120px;
     margin-inline: 1.5rem;
    //  display: flex;
    //  align-items: center;
    //  justify-content: space-between;
    //  height: 7rem;
   }
 }
 
 .show-menu {
   opacity: 1;
   top: $header5;
   pointer-events: initial;
 }
 
 .show-icon .nav__burger {
   opacity: 0;
   transform: rotate(90deg);
 }
 
 .show-icon .nav__close {
   opacity: 1;
   transform: rotate(90deg);
 }
 
 .dropdown {
   &__item {
     cursor: pointer;
   }
   &__arrow {
     font-size: 1.25rem;
     font-weight: initial;
     transition: transform 0.4s;
   }
   &__link,
   &__sublink {
     padding: 1.25rem 1.25rem 1.25rem 2.5rem;
     color: $color-dark;
     background-color: $color-white;
     display: flex;
     align-items: center;
     column-gap: 0.5rem;
     font-weight: $font-medium;
     transition: background-color 0.3s;
 
     & i {
       font-size: 1.25rem;
       font-weight: initial;
     }
     &:hover {
       background-color: $color-lightest2;
     }
   }
   &__menu,
   &__submenu {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.4s ease-out;
   }
 
   &__item:hover &__menu,
   &__subitem:hover > &__submenu {
     max-height: 1000px;
     transition: max-height 0.4s ease-in;
   }
   &__item:hover &__arrow {
     transform: rotate(180deg);
   }
 }
 
 .dropdown {
   &__add {
     margin-left: auto;
   }
   &__sublink {
     background-color: $color-lighter;
   }
 }
 