.frame {
    display: flex;
    flex-direction: column;
    padding: 27px 42px;

    background-color: #f3f3f3;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.edit-prof-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.small-button-middle {
    border-color: #bcab86;
    border-radius: 7.895px;
    padding: 0.5rem;
}

.div-1 {
    display: flex;
    justify-content: space-around;
}

.div-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrapper {
    font-size: 53.6px;
    text-align: center;
    font-family: "Fredoka-Medium", Helvetica;
    font-weight: 600;
    color: #4c5039;
}

.img-1 {
    padding: 1rem;
}

.img-2 {
    padding: 2rem;
}

.div-3 {
    display: flex;
    flex-direction: row;
    width: 60rem;
    justify-content: space-evenly;
    align-items: center;

}

.div-4 {
    display: flex;
    flex-direction: column;

}

.div-wrapper {
    display: flex;
    width: 398px;
    height: 44px;
    padding: 4px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;

    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
}

.frame2 {
    display: flex;
    flex-direction: row;
    padding: 27px 42px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    /* justify-content: flex-start; */
    justify-content: space-around;
    align-items: center;

}

.yellow-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #BCAB86;
    backdrop-filter: blur(67.62544250488281px);
    width: 424px;
    height: 169px;
    padding: 10px 21px;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.upper-card-text{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.text-card-topic{
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.9%; 
}

.number-card{
    display: flex;
    justify-content: center;
    font-size: 53.6px;
    font-family: "Fredoka-Medium", Helvetica;
    font-weight: 600;
    color: #4c5039;
    padding-bottom: 30px;
}

.sec3-booking{
    display: flex;
    flex-direction: row;

    /* New */
    justify-content: space-evenly;
}

.text-topic{
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 117.9%; 
}

.div-5 {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.div-wrapper-2 {
    display: flex;
    width: 800px;
    height: 44px;
    padding: 4px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
}

.div-6 {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

/* .div-wrapper-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;
    height: 44px;
    padding: 4px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
} */

.text-wrapper-3{
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;
    background: #FFF;
    border-radius: 5px;

    /* New */
    height: 3rem;


}

tr {
    background-color: #f2f2f2;
}

/* 



.frame .small {
    position: relative;
    width: fit-content;
    margin-top: -6.34px;
    margin-bottom: -4.76px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15.9px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .div {
    display: flex;
    width: 1289px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-2 {
    display: inline-flex;
    flex-direction: column;
    height: 294px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-shadow: 0px 1.17px 1.17px #00000040;
    font-family: "Fredoka-Medium", Helvetica;
    font-weight: 500;
    color: #4c5039;
    font-size: 53.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: 63.2px;
    white-space: nowrap;
}

.frame .group {
    position: relative;
    width: 212px;
    height: 212px;
    background-color: #d9d9d9;
    border-radius: 106px;
    border: 1px solid;
    border-color: #000000;
    background-image: url(./img/mask-group.png);
    background-size: 100% 100%;
}

.frame .div-3 {
    display: flex;
    width: 847px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.frame .div-4 {
    display: inline-flex;
    flex-direction: column;
    height: 210px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-wrapper {
    display: flex;
    width: 398px;
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 4px 21px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.3px;
    white-space: nowrap;
} */



/* Edit Profile Modal  */

.profile-editor {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-editor .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    border-radius: 8px;
}

.profile-editor .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.profile-editor .close:hover,
.profile-editor .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-editor .profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-editor #profile-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-editor .profile-links a {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.profile-editor .profile-links a:hover {
    color: #0056b3;
}



.profile-editor input[type="text"],
  .profile-editor input[type="password"],
  .profile-editor select {
    display: block;  
    background-color: #ECECEC;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .profile-editor input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #BCAB86;
    border-radius: 5px;
    background-color: #88915D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .profile-editor input[type="submit"]:hover {
    border: 1px solid #BCAB86;
    background-color: #ECECEC;
    color: #4C5039;
  }
  
  .profile-editor p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
  
  .profile-editor a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: right;
  }
  
  .profile-editor a:hover {
    color: #88915D;
    
  }

  .profile-editor .profile-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-editor .change-profile-pic-button {
    cursor: pointer;
    background: #f3f3f3; /* Button background color */
    color: #88915D; /* Text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    text-align: center;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #f3f3f3;
    font-size: 16px;
}

.profile-editor .change-profile-pic-button:hover {
    background: #88915D; /* Change background color on hover */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #BCAB86;
    border-radius: 5px;
}

.profile-editor .profile-image {
    max-width: 100px; /* Adjust the maximum width as needed */
}

