.cus-Equ .frame4 {
    display: flex;
    flex-direction: column;

    padding: 25px 28px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    background-color: #f3f3f3;
}



.cus-Equ .frame4 .div {
    display: flex;
    /* width: 1302px; */
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;

}


.cus-Equ label {
    font-size: 1.4rem;
    font-weight: bold;
}

.cus-Equ input[id=name] {

    display: flex;
    width: 287px;
    height: 2.5rem;
    padding: 4px 21px;
    align-items: center;
    border-radius: 10px;
    border-color: #FFF;
    background: #FFF;


    font-size: 1.2rem;

}


.cus-Equ .search-button {
    background-color: #bcab86;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 12rem;
    border-radius: 10px;

    font-size: 1.2rem;
}

.cus-Equ .search-button:hover {
    background-color: #87744e;
}


.cus-Equ .frame4 .div-2 {
    display: inline-flex;
    flex-direction: column;
    height: 88px;
    align-items: flex-start;
    justify-content: space-between;

}

.cus-Equ .frame4 .div-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.cus-Equ .small-button{
    display: flex;
    height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 7.895px;
    border: 0.789px solid #BCAB86;
    cursor: pointer;
}

.cus-Equ .small-button:hover {
    background-color: #4C5039;
    color: #f3f3f3;
}

.cus-Equ .shopFrame {
    display: flex;
    flex-direction: row;
    padding: 25px 42px;
    /* padding: 27px 42px; */
    background-color: #fff;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    /* justify-content: flex-start; */
    justify-content: space-around;
    align-items: center;

}
.cus-Equ .shop-cardsetAll{
    display: flex;
    flex-direction: column;
}

.cus-Equ .shop-cardset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cus-Equ .shop-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F3F3F3;
    backdrop-filter: blur(67.62544250488281px);
    width: 440px;
    height: 493px;
    padding: 10px 21px;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cus-Equ .shop-card .cardName{
    color: #4C5039;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 117.9%; /* 28.296px */
}

.cus-Equ .shop-card .priceText{
    color: #4C5039;
    font-family: Raleway;
    font-size: 36.857px;
    font-style: normal;
    font-weight: 600;
    line-height: 117.9%; /* 43.455px */
}

.cus-Equ .frameProf {
    display: flex;
    /* padding: 25px 28px; */
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    /* margin-bottom: 2rem; */
    background-color: #fff;
    align-items: center;
}

.cus-Equ .frameProf .profImg{
    width: 75.25px;
    height: 75.25px;
    padding: 1rem;
}

.cus-Equ .frameProf .profText{
    color: #000;
    text-align: justify;
    font-size: 24px;
    font-weight: 600;
    line-height: 117.9%; /* 28.296px */
    width: 1227px;
    height: 29px;
}

.cus-Equ .frame5 {
    display: flex;
    /* padding: 25px 28px; */
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    align-items: center;
}


.cus-Equ .shopFrame2 {
    display: flex;
    flex-direction: row;
    /* padding: 25px 42px; */
    /* padding: 27px 42px; */
    /* background-color: #fff; */
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* align-items: center; */

}

.cus-Equ .shopDetais{
    display: flex;
    flex-direction: column;
}

.cus-Equ .shopForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

.cus-Equ .detailsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 398px;
    height: 44px;
    padding: 4px 21px;
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 10px;
    background: #f3f3f3;

    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Fredoka-Medium", Helvetica;
}

.cus-Equ .BuyButtons{
    display: flex;
    flex-direction: column;
}

.cus-Equ .BuyButtons .filter{
    margin-bottom: 2rem;
}

.cus-Equ .infoBox{
    display: flex;
    width: 1315px;
    height: 509px;
    padding: 20px 21px;
    gap: 10px;
}

.cus-Equ input[id=detailsForm] {

    display: flex;

    /* width: 1315px;
    height: 509px; */
    padding: 25px 28px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;    
    /* align-items: flex-start; */
    /* gap: 10px;
    flex-shrink: 0; */
    border: none;
    background: #FFF;
    border-radius: 10px;
    font-size: 1.2rem;

}