/* Modal Box Styles */
.profile-editor {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-editor .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    border-radius: 8px;
}






/* make mobile responsive */



@media screen and (max-width: 768px) {
    .profile-editor .modal-content {
        width: 100%;
    }
}


.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    margin-right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #f2f2f2;
}

.sidebar-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    min-width: 250px;
    height: 100%;
    padding: 0;
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .sidebar-flow {
        width: 1px;
        min-width: 1px;
    }
    .dashboard {
        margin-left: 50px;
        width: 90%;
    }
}


.dashboard .dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.dashboard .dashboard-content {


    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines as needed */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    justify-content: flex-start; /* Aligns items to the start of the main axis */
    width: 90%;
    /* max-width: 100%;  */
    height: auto; /* Adjusts the height automatically */
    padding: 0;
    background-color: #f2f2f2;
}

.dashboard .dashboard-content .dashboard-card {
    flex: 1 1 auto; /* Allows each card to grow and shrink but not be smaller than 300px */
    /* Rest of your styles for dashboard-card */
}





/* make mobile responsive */



.dashboard-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out; /* Smooth transition for hover */
}

@media screen and (max-width: 768px) {
    .dashboard-card {
        min-width: 90%;
        margin: 10px auto;
    }
}

.dashboard-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dashboard-card .user-image img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 3px solid #56A8CB;
    padding: 3px;
    margin-bottom: 20px;
}

.dashboard-card .user-name {
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}

/* Continue with your existing styles */

/* Responsive Design */
@media screen and (max-width: 768px) {
    .dashboard-card {
        width: 90%;
        margin: 10px auto;
    }

    .dashboard-card .user-image img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }

    .dashboard-card .user-name {
        font-size: 18px;
    }
}


.user-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: auto; */
}




.user h2 {
    font-size: 24px; /* Larger heading for emphasis */
    color: #4C5039; /* Darker color for heading */
    margin-bottom: 5px;
}

.user p {
    font-size: 16px; /* Readable text size */
    color: #333; /* Darker text for better readability */
    margin: 1px 0;
}

.user-details p strong {
    color: #000;
}

.edit-prof-button button{
    background-color: #4C5039; /* Green background */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}




/* Modal Box Styles */
.profile-editor {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.profile-editor .modal-content {
    background-color: #ffffff;
    margin: 5% auto; /* Centered with margin top and bottom */
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 500px; /* Maximum width */
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button style */
.profile-editor .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    color: #666;
    cursor: pointer;
}

/* Profile image styles */
.profile-editor .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

/* Form styling */
.profile-editor form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
}

.profile-editor label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.profile-editor input[type="text"], .profile-editor input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit button */
.profile-editor input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-editor input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
    .profile-editor .modal-content {
        width: 95%; /* Full width on smaller screens */
        margin-top: 10%; /* Increased top margin */
    }

    .profile-editor .profile-image {
        width: 80px;
        height: 80px;
    }
}


/* Equipment List Styles */

.dashboard-card .equipment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: #f2f2f2;
}

.equipment .add-equipment .add-equipment-button {
    background-color: #4C5039;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Add Equipment Modal */
.add-equipment-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4); /* Unified background color */
    /* padding-top: 60px; */
}

.add-equipment-modal .modal-content {
    background-color: #fff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-equipment-modal .modal-content h2 {
    color: #333;
    margin-bottom: 20px;
}

.add-equipment-modal .modal-content label {
    display: block;
    margin-top: 10px;
    color: #666;
}

.add-equipment-modal .modal-content input[type="text"],
.add-equipment-modal .modal-content input[type="number"],
.add-equipment-modal .modal-content input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-equipment-modal .modal-content input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
}

.add-equipment-modal .modal-content input[type="submit"]:hover {
    background-color: #45a049;
}

.add-equipment-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.add-equipment-modal .close:hover,
.add-equipment-modal .close:focus {
    color: black;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .add-equipment-modal .modal-content {
        width: 90%;
    }
}

/* Add Equipment Modal End */




.dashboard-card .equipment-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: #f2f2f2;
}



.table-container {
    display: flex;
    width: 100%;
    margin: 20px;
    /* margin-left: 300px; */
}

.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px; /* Adjust the margin based on your layout */
}

.data-table th, .data-table td {
    padding: 12px;
    text-align: left;
}

/* Row divider styles */
.data-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/* View button styles */
.equipment-view-button {
    background-color: #4C5039;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button {
    background-color: #4C5039;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.equipment-view-button:hover {
    background-color: #333;
}



@media screen and (max-width: 600px) {
    .data-table, .data-table thead, .data-table tbody, .data-table th, .data-table td, .data-table tr {
        display: block;
    }

    .data-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .data-table tr {
        margin: 0 0 1rem 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0.5rem;
    }

    .data-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .data-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }

    .equipment-view-button {
        display: block;
        width: 100%;
        text-align: center;
    }
}


.status {
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.accepted {
    background-color: #4CAF50;
    color: #fff;
}

.rejected {
    background-color: #FF5733;
    color: #fff;
}

.waiting {
    background-color: #FFC107;
    color: #333;
}
