// button start
.btn {
    cursor: pointer;
    border: none;
    background: $color-darker;
    outline: none;
    color: $color-lightest;
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: 500;
    font-size: medium;
    font-family: sans-serif;
    align-self: center;
    margin-bottom: 8px;
  
    // Initial background with transparent gradient
    background-image: linear-gradient(to right, $color-light 50%, $color-darker 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease-out;
  
    // Hover effect
    &:hover {
      background-position: left bottom;
      color: $color-darker;
      // weight
    }
      // button with disabled state (disabled=true)

    &:disabled {
      background: $color-lightest;
      color: $color-primary;
      border: 2px solid $color-primary;
      cursor: default;
    }
  }




  
  .btn-danger{
    background: $danger-color;
    border: 1px solid $danger-color;
    color: $white-text;
  
    // Initial background with transparent gradient
    background-image: linear-gradient(to right, $danger-lightest-color  50%, $danger-color 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.2s ease-out;
  
    &:hover {
      background-position: left bottom;
      color: $danger-color;
    }
  }
  
  .btn-success{
    background: $info-color;
    border: 1px solid $info-color;
    color: $white-text;
  
    // Initial background with transparent gradient
    background-image: linear-gradient(to right, $white-text  50%, $info-color 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.2s ease-out;
  
    &:hover {
      background-position: left bottom;
      color: $info-color;
    }
  }
  
  .btn-warning{
    background: $warning-color;
    border: 1px solid $warning-color;
    color: $white-text;
  
    // Initial background with transparent gradient
    background-image: linear-gradient(to right, $white-text  50%, $warning-color 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.2s ease-out;
  
    &:hover {
      background-position: left bottom;
      color: $warning-color;
    }
  }
  
  // full width button
  .btn-full {
    width: 50%;
    position:relative;
  }


  .btn-lg {
    padding: 15px 20px;
    font-size: large;
  }






  // button end
