// button start
.btn {
  cursor: pointer;
  border: none;
  background: $color-dark;
  outline: none;
  color: $color-lightest;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: $text;
  font-family: sans-serif;
  align-self: center;
  margin-bottom: 8px;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $color-light 50%, $color-dark 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;

  // Hover effect
  &:hover {
    background-position: left bottom;
    color: $color-darker;
    // weight
  }
    // button with disabled state (disabled=true)

  &:disabled {
    background: $color-lightest;
    color: $color-primary;
    border: 2px solid $color-primary;
    cursor: default;
  }
  // button with active state (class contains active)

  &.active {
    background: $color-primary;
    color: $color-lightest;
  }
  
}

.btn-cancel {
  background: #e5e5e5;
  cursor: pointer;
  border: none;
  outline: none;
  color: $gray-text;
  border-radius: 40px;
  padding: 10px 10px;
  font-weight: 500;
  font-size: medium;
  font-family: sans-serif;
  align-self: center;
  margin-bottom: 8px;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, rgba(250, 163, 163, 0.866) 50%, #e5e5e5 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;


  &:hover {
    background-position: left bottom;
    color: $color-darker;
  }
}

.btn-primary{
  background: $color-primary;
  border: 1px solid $color-primary;
  color: $white-text;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $font-semi-bold;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $color-dark 50%, $color-primary 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $color-lightest;
  }
}

.btn-primary-lg{
  background: $color-primary;
  border: 1px solid $color-primary;
  color: $white-text;
  padding: 1rem;
  // margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $font-semi-bold;
  width: 100%;

  &:hover {
    background-position: left bottom;
    color: $color-lightest;
  }
}
.btn-icon {
  background-color: transparent;
  font-size: 18px;
  color: $gray-text;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    color: $gray-text-darker;
  }
 }

.btn-text-green {
  background-color: transparent;
  font-size: 18px;
  color: $color-primary;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    // color: $gray-text;
    text-decoration: underline;
  }
}

.btn-text-blue {
  background-color: transparent;
  font-size: 18px;
  color: $blue;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    // color: $gray-text;
    text-decoration: underline;
  }
}

.btn-text-orange {
  background-color: transparent;
  font-size: 18px;
  color: $orange;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    // color: $gray-text;
    text-decoration: underline;
  }
}

.btn-text-red {
  background-color: transparent;
  font-size: 18px;
  color: $red;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    // color: $gray-text;
    text-decoration: underline;
  }
}
 

.btn-danger{
  background: $danger-color;
  border: 1px solid $danger-color;
  color: $white-text;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $danger-lightest-color  50%, $danger-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out;

  &:hover {
    background-position: left bottom;
    color: $danger-color;
  }
}

.btn-success{
  // background: $info-color;
  // border: 1px solid $info-color;
  // color: $white-text;
  // padding: 5px;
  // margin: 20px;
  cursor: pointer;
  border: none;
  background: $color-dark;
  outline: none;
  color: $color-lightest;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
  // font-size: $text;
  font-family: sans-serif;
  align-self: center;
  margin-bottom: 8px;



  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $white-text  50%, $info-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out;

  &:hover {
    background-position: left bottom;
    color: $info-color;
  }
}

.btn-warning{
  background: $warning-color;
  border: 1px solid $warning-color;
  color: $white-text;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $white-text  50%, $warning-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out;

  &:hover {
    background-position: left bottom;
    color: $warning-color;
  }
}

// full width button
.btn-full {
  width: 60%;
  position:relative;
}

.btn-medium {
  width: 20%;
  position: relative;
}


.btn-lg {
  padding: 15px 20px;
  font-size: large;
}


.btn-signup {
  width: 100%;
  position: relative;
  padding: 10px;
}



.btn-small {
  background-color: $color-lighter;
  color: $color-darker;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border-width: .5px;
  border-style: solid;
  border-color: $color-darker;
  font-weight: $font-semi-bold;
  align-items: center;
}

.btn-edit {
  background-color: $color-lighter;
  color: $color-darker;
  padding: 6px 8px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  box-shadow: 4px 4px 16px rgba($color-darker, 0.1);
  font-weight: $font-semi-bold;
  align-items: center;
  cursor: pointer;
}

.btn-selected {
  background-color: transparent;
  font-size: 18px;
  color: $gray-text;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    color : $color-primary;
    border-radius: 10px;
    box-shadow : 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
  }

  &.active {
    // background-color: $color-lightest2;
    color: $color-primary;
    border-radius: 10px;
    box-shadow : 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: color 1s ease;
  }
}

.btn-text-black {
  background-color: transparent;
  font-size: 1.5rem;
  color: $color-black;
  width: fit-content;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-family: "poppins", sans-serif;

  &:hover{
    // color: $gray-text;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .btn-text-black{
    font-size: 1.25rem;
  }
}

