.emptycart-container{
    position: relative;
    padding: 25%;

    .emptycart{
        // background-color: $color-lightest2;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
    }
}

.cart-item-name {
    font-weight: 600;
    margin: 5px;

}

.cart-item-description {
    font-style: italic;
    margin: 5px;
}

.cart-item-price {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    input {
        max-width: 25%;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    // background-color: aqua;
}

.item-count{
    justify-content: center;
    input {
        max-width: 25%;
    }
}