@mixin rent-item-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    height: 550px;
    margin: 20px;
    padding: 20px;
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: $box-shadow-default;
    transition: all 0.3s ease-in-out;
    gap: 20px;
    flex-grow: inherit;

  
      &:hover {
          box-shadow: $box-shadow-hover;
      }
      .rent-item-image{
  
          img {
            position: relative;
              width: 100%;
            //   height: 150px;
              border-radius: 5px;
            //   border: 3px solid #56A8CB;
              padding: 3px;
              margin-bottom: 20px;
          }
          max-height: 300px;
          overflow: hidden;

      }

    .rent-item-details {
        z-index: 10;

        .rent-item-name {
            font-size: 2.5rem;
            font-weight: 600;
            color: $color-dark-gray;
            margin-bottom: 10px;
        }
        .rent-item-description {
            font-size: 1.5rem;
            font-weight: 400;
            color: $color-dark-gray;
            margin-bottom: 10px;
            // limit to one line
            overflow: hidden;
            text-overflow: ellipsis;


        
        }
        .rent-item-price h5{
            font-size: 2rem;
            font-weight: 600;
            color: $color-dark-gray;
            margin-bottom: 10px;
        }
    }
}

.rent-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 0;
    // background-color: $color-light-gray;

  
    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 10%;
      // background-color: $color-light-gray;
      border-bottom: 1px solid $color-medium-gray;
    }
  
    &-content {
    //   flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items:center;
      justify-content: space-around;
      width: 90%;
      height: auto;
      background-color: $color-light-gray;
      gap: 20px;
  
      .rent-item-card {
        @include rent-item-common;
      }
    }
    .rent-item-card {
        @include rent-item-common;
      }


    // media queries

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .rent-item-card {
            width: 100%;
            margin-bottom: 20%;
        }
        
    }



    
   
}


.cart-items {
  height: 50vh;
  min-height: 400px;

  // media queries
  @media screen and (max-width: 768px) {
   flex: 1 1 auto !important;
  }
}

.checkout-items {
  height: 60vh;
  min-height: 400px;

  // media queries
  @media screen and (max-width: 768px) {
   flex: 1 1 auto !important;
  }
}


.user-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  padding-bottom: 80px;

   h1 {
    font-size: 30 px;
    font-weight:bolder;
    color:$color-dark;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    color: $color-primary;
    margin: 1px 0;
    text-align: left;
  }

  img{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .user-details{

    color: $color-dark;
    text-align:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
      p {
    font-size: 20px;
    color: $color-primary;
    padding-top: 10px;
  //  margin: 1px 0;
  }
    h2 {
    font-size: 30px;
    color: $color-primary;
    font-weight: bold;
    // margin: 1px 0;
  }

  }
}

.usage{
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 20px;
    margin-bottom: 1.5rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    gap: 20px;
    flex-grow: inherit;

  h1 {
    font-size: 60px;
    color: $color-light;
    font-weight: bold;
   // margin: 1px 0;
  }

    h2 {
    font-size: 30px;
    color: $color-primary;
    font-weight: bold;
    padding-top:30px ;
    padding-left: 50px;
    justify-content: flex-start;
  }

}

.usage-card{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 300px;
    width:420px;
    margin: 20px;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    margin-left: 50px;
    padding: 20px;
    background-color: $color-lighter;
    border-radius: 15px;

    background-color:$color-dark ;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    gap: 20px;
    flex-grow: inherit;

    // .first-row {
    //   align-items: ;
    // }

    .btn {
  cursor: pointer;
  border: none;
  // background: $color-black;
  outline: none;
  color: $color-dark;
  border-radius: 10px;
  padding: 5px 5px;
  font-weight: 500;
  font-size: medium;
  font-family: sans-serif;
  align-self:flex-end;
  margin-bottom: 8px;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $color-light 50%, $color-white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $color-dark;
  }
}
}

// .dashboard {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   min-width: 300px;
//   margin: 20px;
//   margin-bottom: 1.5rem;
//   margin-top: 4rem;
//   padding: 20px;
//   background-color: $color-lighter;
//   border-radius: 15px;
// }

.details {
      font-size: 20px;
    color: $color-light;
    margin: 1px 0;
      text-align: left;
      padding-right: 100px;
}

.usage-block{
    display: block;
    flex-direction: row;
    align-items:flex-start;
    // justify-content: ;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 20px;
    margin-bottom: 1.5rem;
    // padding: 20px;
    padding-right: 500px;
    padding-bottom: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    gap: 20px;
    flex-grow: inherit;

  h1 {
    font-size: 60px;
    color: $color-light;
    font-weight: bold;
   // margin: 1px 0;
  }

    h2 {
    font-size: 30px;
    color: $color-primary;
    font-weight: bold;
    padding-top:30px ;
    padding-left: 50px;
    justify-content: flex-start;
  }

}

.btn-edit-profile-pic {
  background-color:$color-darker ;
 // color: $color-dark;
  cursor: pointer;
  border: 1px;
  //background: $color-black;
  outline: none;
  color: $color-white;
  border-radius: 5px;
  padding: 8px 8px;
  font-weight: 500;
  font-size: large;
  font-family: sans-serif;
  align-self:flex-end;
  margin-bottom: 8px;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $color-light 50%, $color-primary 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $color-darker;
  }
}

.profile-image{
  width: 500px;
  margin: 10px;
}

.recent-booking-details {
    color: $color-dark;
    text-align:left;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 50px;
    
      p {
    font-size: 20px;
    color: $color-primary;
    padding-top: 10px;
  //  margin: 1px 0;
  }
    h2 {
    font-size: 30px;
    color: $color-primary;
    font-weight: bold;
    padding-top:30px ;
    padding-left: 50px;
    justify-content: flex-start;
  }

  .button {
  cursor: pointer;
  border: none;
  background: $color-white;
  outline: none;
  color: $color-white;
  border-radius: 10px;
  padding: 5px 5px;
  font-weight: 500;
  font-size: medium;
  font-family: sans-serif;
  align-self:flex-end;
  margin-bottom: 8px;

  // Initial background with transparent gradient
  background-image: linear-gradient(to right, $color-light 50%, $color-dark 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $color-dark;
  }
}
}
