.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 92%;
  background: #EBEFE3;
  backdrop-filter: blur(67px);
  transition: transform 1s;
}

.login-container .column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 2px 0 5px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.login-container .column .login-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 40px;
}

.login-container .column .login-image .overlay-logo {
  position: absolute;
  left: 35%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.login-container .column .login-form {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  width: 550px;
  height: 100%;
  padding: 50px;
  border-radius: 40px;
  background-color: #fff;
}

.login-container .column .login-form h2 {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #526534;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login-container .column .login-form .login-input {
  width: 100%;
  height: 50px;
  margin: 20px 0 20px 0;
  position: relative;
}

.login-container .column .login-form .login-input i {
  transform: translate(-50%, -60%);
  font-size: 13px;
  color: #5C5E60;
  cursor: pointer;
}

.login-container .column .login-form input[type="text"],
.login-container .column .login-form input[type="password"],
.login-container .column .login-form select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #47494b;
  display: block;
  background-color: #e5e5e5;
  width: 100%;
  padding: 20px 45px 20px 20px;
  margin-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.login-container .column .login-form i {
  position: absolute;
  right: 20px;
  bottom: 18%;
  transform: translate(-50%);
  font-size: 15px;
  color: #5C5E60;
}

.login-container .column .login-form .message-text {
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin: -1px 1px 15px;
  color: #5C5E60;
}

.login-container .column .login-form .message-text label input {
  accent-color: #5C5E60;
  margin-right: 5px;
  margin-left: 5px;
}

.login-container .column .login-form p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login-container .column .login-form a {
  color: #526534;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 0;
}

.login-container .column .login-form a:hover {
  color: #8D9E6F;
  text-decoration: underline;
}

.login-container .column .login-form #error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.login-container .column .login-form .main {
  display: flex;
  justify-content: center;
}

.login-container .signup-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 130px;
  border-radius: 5px;
  background: #B2BDA0;
  margin: 20px 0;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container .signup-card:hover {
  background-color: #8D9E6F;
}

.login-container .signup-card .btn-div {
  text-align: center;
}

.login-container .signup-card h3 {
  color: #526534;
  margin: 0;
  padding: 10px;
}

.login-container .signup-card p {
  color: #526534;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container .tooltip-container {
  position: relative;
  display: inline-block;
}

.login-container .tooltip-container .tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #BCAB86;
  border-radius: 4px;
  padding: 5px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  width: 75%;
}

.login-container .tooltip-container .tooltip-trigger {
  background-color: #fff;
  color: #BCAB86;
  border-radius: 50%;
  padding: 1px;
  margin: 1px;
  font-size: 1.5rem;
  position: relative;
}

.login-container .tooltip-container .tooltip-trigger:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.login-container .file-input-container,
.login-container .location-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.login-container .file-input-container .file-label,
.login-container .file-input-container .location-button,
.login-container .location-button-container .file-label,
.login-container .location-button-container .location-button {
  background-color: #8D9E6F;
  color: #526534;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-container .file-input-container .file-input,
.login-container .location-button-container .file-input {
  position: relative;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Map Styles */
/* Map Styles */
.location-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.location-modal .modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 800px;
  position: relative;
  border-radius: 5px;
}

.location-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.location-modal .modal-content .close:hover, .location-modal .modal-content .close:focus {
  color: #526534;
  text-decoration: none;
  cursor: pointer;
}

.location-modal .modal-content .map-canvas {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  position: fixed;
}

/* Additional Styles */
#pac-container #pac-container,
.pac-card #pac-container,
.pac-controls #pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-container .pac-container,
.pac-card .pac-container,
.pac-controls .pac-container {
  z-index: 1051 !important;
}

#pac-container .pac-card,
.pac-card .pac-card,
.pac-controls .pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container .pac-controls,
.pac-card .pac-controls,
.pac-controls .pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

#pac-container .pac-controls label,
.pac-card .pac-controls label,
.pac-controls .pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-container #pac-input,
.pac-card #pac-input,
.pac-controls #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  max-width: 400px;
}

#pac-container #pac-input:focus,
.pac-card #pac-input:focus,
.pac-controls #pac-input:focus {
  border-color: #4d90fe;
}

#pac-container #title,
.pac-card #title,
.pac-controls #title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#pac-container #target,
.pac-card #target,
.pac-controls #target {
  width: 345px;
}

@media screen and (max-width: 880px) {
  .login-container {
    padding: 15px 10px;
  }
  .login-image {
    padding: 15px 10px;
  }
}
