$sidebar-background: #EBEFE3; // Off-white background color
$theme-color: #B2BDA0;        // Theme color
$sidebar-width: 200px;
$sidebar-top: 60px;

/* Sidebar styles */
.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color: $color-primary;
    color: $white-text;
    position: fixed;
    left: 0px;
    // top: $sidebar-top;
    padding-top: 20px;
    transition: margin-left 0.5s;
    z-index: 1;
    overflow-y: auto;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    // border-radius: 15px;

    @media screen and (max-width: 768px) {
        margin-left: -350px; // Hide sidebar initially

        &.active {
            margin-left: 0; // Show sidebar when active
        }
    }
}

/* Navigation styles */
.nav {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;

    .nav-item {
        margin-bottom: 15px;

        background-image: linear-gradient(to right, $color-lightest 50%, $color-primary 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 0.2s ease-out;

        &:hover {
            background-position: left bottom;
            color: $color-primary;
        }

        &.active{
            background-position: left bottom;
            color: $color-primary;
        }

        &.active {
            background-color: $theme-color;
            // color: #fff;

            // .sub-menu {
            //     display: block;
            // }

            .menu-arrow {
                transform: rotate(90deg);
            }
        }

        // .nav-link {
        //     color: inherit;
        //     font-size: 20px;
        //     text-decoration: none;
        //     display: block;
        //     padding: 10px 20px;
        //     border-radius: 5px;

        //     &:hover {
        //         background-color: $color-light;
        //         color: $white-text;
        //     }
        // }

        .nav-link {
            color: inherit;
            font-size: 20px;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            border-radius: 5px;

            &:hover {
                // background-color: $color-light;
                // color: $white-text;
            }
        }
    }

    .sub-menu {
        padding-left: 20px;
        display: none;
    }

    .menu-icon {
        margin-right: 10px;
    }

    .menu-arrow {
        float: right;
    }
}

/* Content container styles */
.content {
    margin-left: 260px;
    padding: 20px;

    @media screen and (max-width: 768px) {
        margin-left: 0; // Adjust content margin
    }
}

/* Toggle button style */
.toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1010;
    cursor: pointer;
    font-size: 30px;
    color: $theme-color;

    @media screen and (max-width: 768px) {
        display: block;
    }
}
